.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container .left-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar-container .right-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}